@model List<Videogioco>

<main class="user_container backgroundOpaco p-lg-4 p-0 mx-0 mx-lg-5">
@if (Model.Count == 0)
{
    <h3>Non sono presenti Videogiochi nel Database</h3>
    <a class="btn btn-primary my-3" href="@Url.Action("Crea","Admin")">Aggiungi Videogioco</a>
}
else
{
        <a class="btn btn-primary my-3" href="@Url.Action("Crea","Admin")">Aggiungi Videogioco</a>
        <h1>Lista Videogiochi</h1>
        <table class="table table-hover text-center col-12 col-lg-10">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                    <th scope="col">Tipologia</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col"></th>
                    <th scope="col">Copie Disponibili</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Videogioco videogioco in Model)
                {
                    string stringaQuantita = "";
                    if (videogioco.QuantitaDisponibile <= 5)
                    {
                        stringaQuantita = "ATTENZIONE: SOLO " + videogioco.QuantitaDisponibile + " UNITÀ DISPONIBILI!";
                    }
                    else
                    {
                        stringaQuantita = videogioco.QuantitaDisponibile + " Unità rimanenti";
                    }
                    <tr>
                        <td><a href="@Url.Action("Dettagli","Admin",new{id=videogioco.Id})">@videogioco.Nome</a></td>
                        <td><img src="@videogioco.Foto" class="img-fluid" alt="@videogioco.Nome" style="max-width:100px"></td>
                        <td>@videogioco.Tipologia.TipologiaNome</td>
                        <td>@videogioco.Prezzo €</td>
                        <td><a class="btn btn-primary" href="@Url.Action("Modifica","Admin", new{id=videogioco.Id})">Modifica Videogioco</a><br>
                            <a class="btn btn-danger mt-2" href="@Url.Action("Elimina","Admin", new{id=videogioco.Id})">Elimina Videogioco</a>
                        </td>
                        <td>@stringaQuantita</td>
                    </tr>
                }
            </tbody>
        </table>       

}
</main>